*
{
    padding:0rem;
    margin:0rem;
}


.responsive_navbar
{
 display:none;
}


html
{
    font-size:10px; /* 1rem = 10px */
}





.header
{
    width:100%;
    padding:25px 0 25px 0;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-transform:capitalize;
    background-color:white;
    position:sticky;
    top:-1px;
    z-index:999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  


    
}

.header_child1
{
    border-right:1px solid rgb(99, 94, 94);
    padding-left:4px;
    box-sizing: border-box;
    display:flex;
justify-content: center;  
  align-items:center;
  padding:0 10px 0 10px;

}

.header_child1>h1
{
    font-size:3rem;
    text-transform: lowercase;
    color: #2727b2;
}

.header_child1 img
{
  width:33px;
}

.header_child2
{
font-size:10px ;
}


.header_child2 .select
{
border:none;
text-transform: capitalize;
font-size:larger;
background: none;

}

.header_child2>p
{
    color:#f88c09;
    font-size:larger;
    
}

.header>input
{
    width:60rem;
    height:5rem;
    padding-left:2rem;
    text-transform: capitalize;
    color:black;
    outline:none;
    border:none;
    background-color: rgb(245, 242, 238);
    border-radius:1rem;
    font-size: larger;
    

}

.header_child3>p
{
    font-size: larger;
    

}

.header_child3
{
    text-decoration: none;
}

.header_child3>i
{
font-size:large;
text-decoration:none !important;
color:black;
}

span
{
    display:inline-block;
    margin-left:1rem;
    text-decoration:none;
    color:black;

}

span>p,button
{
    font-size: larger;
}

span>button
{
    background-color:#f88c09;
    width:10rem;
    height:3rem;
    color:white;
    border:none;
    outline:none;
    border-radius:2rem;
    text-transform:capitalize;
}

.header_child3
{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.header_child4
{
    display: flex;
    align-items: center;
}

 .header_child4>i
{
   font-size:large;
}

.header_child4>button
{
    font-size:larger;
    width:4rem;
    height:4rem;
    background:transparent;
    text-transform: uppercase;
    border:none;
    margin-left:1rem;
}


.header_child5>i
{
font-size:large;
margin-left:1rem
}

.header_child5
{
    background-color:#f6eaea;
    border:1px solid #958484;
    border-radius:2rem;
    height:4rem;
    width:8rem;
    display: flex;
    justify-content:center;
    align-items: center;

}

.ind_logo
{
    color:rgb(245, 163, 10);
}


.header_child>ul>li>a
{
    text-decoration:none;
    color:rgb(92, 81, 81);
    font-weight:bolder;
}

.header_child>ul>i
{
    color: #f88c09;
}







/* header child */


.header_child 
{

display: flex;
justify-content:space-around;
background-color: #dbe4e4;
text-transform:uppercase;
padding:4px;
box-sizing: border-box;
padding-top:5px;
color:rgb(44, 39, 39);
height:4rem;
padding-top:1rem;



}

.header_child ul li
{
    display:inline-block;
    font-size:1.2rem;
    padding-left:1rem;
    


}




.header_child ul>i
{
    font-size: large;
}


.child2
{
position: relative;
right:1.5rem;
display: flex;
justify-content:center;
align-items: center;
}

.child2>i
{
    font-size: large;
}

.child2>p
{
    padding-left:4px;
}

.header_child1>i
{
    display:none;
}






/* hero section */

.hero_section
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:6rem 0 6rem 0;
    text-transform: capitalize;
    position: relative;
    background-color:#0c0ca2;
    height:40rem !important;

  
}

.abroad_college
{
    background-image:linear-gradient(to right,#fbfeff,rgb(221, 216, 216),#fbfcfc) !important;
}

.abroad_college>h1
{
    font-size:6rem !important;
    color:rgb(32, 24, 24) !important;
   
}

.StudyAbroad_btn
{
    border-radius:3rem;
    background-color: #351b9e !important;
    width:20rem !important;


}

.StudyAbroad_btn2
{
    background-color: #f88c09 !important;
    margin-left:2rem !important;
    width:20rem !important;
    border-radius:3rem;




}
.abroad_college>h3
{
 width:60rem;
 text-align: center;
 padding-top:2rem;
 color:rgb(81, 73, 73);
   
}




.abroad_college::before
{
    background:transparent !important;
}

.hero_section::before
{
    content: "";
    background-image:url('https://cdn.builtinsf.com/sites/www.builtinsf.com/files/inline-images/claps.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    opacity:.5;
}

.hero_section>h1
{
    font-size: xx-large;
    position: relative;
    color:white;
}

.hero_section input
{
    width:80rem;
    height:6rem;
        outline:none;
    border:none;
    text-transform: capitalize;
    padding-left:2rem;
    font-size: large;
    position: relative;
    left:1rem;
    position: relative;
    border-bottom-left-radius:1rem;
    border-top-left-radius:1rem;

    
    
}

.hero_btn
{
width: 15rem;
height:6rem;
background-color:#f88c09;
border:none;
outline:none;
font-size: large;
text-transform: capitalize;
color: antiquewhite;
position: relative;

}

.hero_child
{
    margin-top:6rem;
    gap:0px;
    position: relative;

}

.counselling
{
    margin-left:80rem;
    margin-top:4rem;
    height:3rem;
    font-size:12px;
    position: relative;

}












/* hero_section_college_list */

.hero_section_college_list
{
padding:3rem;
height:30rem;
background-color: rgb(246, 247, 248);
}

.college_list
{
    display:flex;
    width:17rem;
    justify-content:space-evenly;
    align-items:center;
}

.college_list>i
{
    font-size:2rem;
    color: #2727b2 !important;
}

.hero_section_college_list>h1
{
    color: #f88c09;
    margin-top:2rem;
}



/* exam section list */

.Exam_list>h4
{
    color: #0c0ca2 !important;
}













/* footer section */

.footer
{
    display: flex;
    justify-content: space-around;
    padding:4rem 0 4rem 0;
    text-transform: capitalize;
    background-color:#16055c;
}

.child h1
{
    font-size:x-large;
    color:rgb(247, 246, 246);

}

.child ul li 
{
    font-size:larger;
    color:rgb(190, 182, 182);
    list-style:none;
    padding-top:5px;
}

/* subfooter section */


.subfooter
{
    padding:2rem;
    display: flex;
    color: rgb(39, 39, 178);
    padding-left:6rem;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    border:1px solid rgb(184, 178, 178);
    background-color:#efeef4;




    
}

.subfooter_child1 
{
    display: flex;
    justify-content:center;
    align-items: center;

}

.subfooter_child1>p
{
    font-size:1.5rem;
    color: #0f1212;
    padding-left:2rem;
    font-weight: bolder;

}


.subfooter_child2
{
    display: flex;
    justify-content:center;
    align-items: center;


    
}

.subfooter_child2>p
{
    font-size:2rem;
    color:rgb(15, 11, 11);
    font-weight: bolder;
}
.subfooter img
{
  width:33px;
  
}

.subfooter_child2>i
{
    font-size:2.5rem;
    padding-left:2rem;
 
}

